<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Delivery Cube
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Delivery Cube</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
     <img src="assets/fooddelivery.jpg" width="500px" height="320px">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>

  
  
    <ion-card-content>
      Your Favourite Food Delivered with,The Delivery Cube
    </ion-card-content>
  </ion-card>

  
  
  <ion-button  color="red" (click)="btnclicked()" routerLink="/home2" id="b1">
    Click Me
   

</ion-button>



  
</ion-content>
